#line-tooltip{
    position: absolute;
    background: white;
    color: black;
    border: 2px solid;
    border-radius: 10px;
    pointer-events: none;
}

#right-div button{
    transition-duration: 0.2s;
    background-color: white;
    text-align: center;
    width: 100px;
    border: 2px solid #aaa;
    border-radius: 5px;
}

#right-div button:hover{
    background-color: #999;
}

#right-div button.option-selected{
    background-color: #666;
    color: white;
}
