.province_button.selected_area_button rect{
	fill: #ffffb3;
	stroke-width: 2px;
	stroke: #444;
}

.province_button.selected_area_button text{
	fill: #444;
}

.province_button rect{
	fill: white;
	stroke-width: 1px;
	stroke: #ccc;
}

.province_button text{
	fill: #ccc;
}
