.province_button.selected_area_button rect{
	fill: #91868c;
	stroke-width: 0;
	/*stroke: #444;*/
}

.province_button.selected_area_button text{
	fill: #eee;
}

.province_button rect{
	fill: white;
	stroke-width: 1px;
	stroke: #606060;
}

.province_button text{
	fill: #606060;
}

.whole-country.selected_area_button rect{
	stroke-width: 0;
	fill: #969696;
}

.other-province.selected_area_button rect{
	stroke-width: 0;
	fill: #939393;
}

.whole-country rect,
.other-province rect
{
	fill: white;
	stroke-width: 1px;
	stroke: black;
}

.whole-country text,
.other-province text{
	fill: #606060
}

.hover_area_button rect{
	stroke-width: 1 !important;
	stroke: red !important;
}


#range_area text{
	cursor: pointer;
}
